<?xml version='1.0' encoding='utf-8'?>
<widget id="ar.com.controlgastos" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Control Gastos</name>
    <description>
        Una Aplicacion para poder llevar el control de sus gastos.
    </description>
    <author email="leandrobruzzi@gmail.com" href="">
        Leandro Bruzzi
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <icon src="res/icono_controlGastos.png" />
    <platform name="android">
        <preference name="Orientation" value="portrait" />
        <allow-intent href="market:*" />
    </platform>
    <engine name="android" spec="~6.2.3" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
</widget>
