* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
	margin: auto;
	padding: 0;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
	position: absolute;
}
/*	App		*/
div#app{
	width:100%;
	height:100%;
}

/*	------------- Login ------------- */
div#login-view{
	width:100%;
	height:100%;
	background-image: url("../img/FondoLogin.jpg");
}
/*	Login-Logo */
div#login-view div#login-logo{
	width:100%;
	height:40%;
/* 	background-color: red; */
	float: left;
}
div#login-view div#login-logo-cuerpo{
/* 	background-color:green; */
	margin-top:25%;
}

/*	Login-Ingreso */
div#login-view div#login-ingreso{
	width:100%;
	height:40%;
	/*background-color: blue;*/
	float: left;
	text-align: center;
}
div#login-view div#login-ingreso #login-ingreso-contenedor{
	width: 75%;
	height: 45px;
	margin-top: 15px;
	/*background-color: white;*/
}

div#login-view div#login-ingreso #login-ingreso-botones{
	width: 75%;
	height: 45px;
/* 	background-color: white; */
}
div#login-view div#login-ingreso input{
	height: 100%;
 	width: 85%;
	font-size: 20px;
	border-radius:10px;
}
div#login-view div#login-ingreso #awesome{
	font-size: 30px;
	color: white;
	margin-right: 4px; 
}
div#login-view div#login-ingreso #resetPassword{
	font-size: 20px;
	text-align: center;
	margin-top: 15px;
	color: white;
	display: block;
}
div#login-view div#login-ingreso #ingresar{
	margin-top: 15px;
} 
div#login-view div#login-ingreso #registrar{
	margin-top: 15px;
	margin-bottom: 15px;
}


div#login-view .btnLogin {
	-moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
	-webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
	width: 72%;
}
div#login-view .btnLogin:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}
div#login-view .btnLogin:active {
	position:relative;
	top:1px;
}

@media screen and (max-height: 480px) {
	div#login-view div#login-logo{
		display: none;
	}
}

/* ---------------------------------- */


/* Fuentes */
.milky {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;;
  text-transform: uppercase;
  display: block;
  font-size: 40px;
  color: #f1ebe5;
  text-shadow: 0 8px 9px #c4b59d, 0px -2px 1px #fff;
  font-weight: bold;
  letter-spacing: -4px;
  text-align: center;
/*   background: linear-gradient(to bottom, #ece4d9 0%,#e9dfd1 100%); */
/*   position: absolute; */
/*   padding: 100px 200px; */
/*   top: 50%; */
/*   left: 50%; */
/*   transform: translate(-50%,-50%); */
  border-radius: 20px;
}

/* PLACEHOLDER */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #d1d4d6;
	font-style: italic;
	padding-left: 5px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #d1d4d6;
   font-style: italic;
   padding-left: 5px;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #d1d4d6;
   font-style: italic;
   padding-left: 5px;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #d1d4d6;
   font-style: italic;
   padding-left: 5px;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #d1d4d6;
   font-style: italic;
   padding-left: 5px;
}